/*!************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/components/Logo/index.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************/
.Logo_logoCont___OVnX {
    --def-height: 40px;
    height: var(--def-height);
    overflow: hidden;
    position: relative;
    width: 29.7px
}

.Logo_logo__iMOOV {
    color: transparent;
    object-position: 0px -2px;
    position: absolute;
    height: calc(var(--def-height) + 15.9px);
    width: calc(var(--def-height) + 15.5px);
    top: -8.6px;
    left: -13.5px;
    object-position: 0px -2px
}

.Logo_click__jqczE {
    cursor: pointer
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/components/Header/index.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************/
.Header_header__tD4SO {
    padding: 11px var(--app-padding-x);
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2),0px 4px 5px 0px rgba(0,0,0,0.14),0px 1px 10px 0px rgba(0,0,0,0.12);
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
    width: 100%
}

.Header_hLeftB__diRUN {
    display: flex;
    align-items: center
}

.Header_hLeftB__diRUN > *:not(:first-child) {
    margin-left: 20px
}

.Header_hRightB__wW31u {
    display: flex;
    align-items: center;
    justify-content: center
}

.Header_hRightB__wW31u > *:not(:first-child) {
    margin-left: 11px
}

.Header_menuItemsStyle__mBNiQ {
    font-size: 12px
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/components/InputText/index.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************/
.InputText_inputBox__galgQ {
    position: relative;
    display: flex;
    align-items: center;
    cursor: text;
    --input-padding-y: 10px;
    --input-padding-x: 11px;
    --fontSize: 13px;
    --textColor: #fff;
    --labelColor: #fff;
    --inputBorderColor: #fff;
    --inputBorderRadius: 4px;
    --inputBorderBoxLeft: calc(var(--input-padding-x) + 10px);
    --inputOpacity: 0.3;
    --inputBorderWidth: 1px;
    --focusInputBorderWidth: 2px;
    --inputBorderRightSpace: 23px;
    --inputTransform: scale(0.8);
    --inputBorderBoxLeftSpace: 14px;
    height: 36px;
    width: 200px
}

.InputText_inputBox__galgQ *, .InputText_inputBox__galgQ {
    box-sizing: border-box
}

.InputText_inputBox__galgQ.InputText_blackColor__8ewIG {
    --labelColor: #000 !important;
    --textColor: #000 !important;
    --inputBorderColor: #000 !important
}

.InputText_inputBox__galgQ input {
    padding: var(--input-padding-y) var(--input-padding-x);
    border: 0px;
    opacity: var(--inputOpacity);
    border-radius: var(--inputBorderRadius);
    font-size: var(--fontSize);
    color: var(--textColor) !important;
    caret-color: var(--textColor) !important;
    outline: 0px;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    width: 100%;
    height: 100%
}

.InputText_inputBox__galgQ input:-webkit-autofill,
.InputText_inputBox__galgQ input:-webkit-autofill:hover,
.InputText_inputBox__galgQ input:-webkit-autofill:focus,
.InputText_inputBox__galgQ input:-internal-autofill-selected {
    -webkit-transition:  background-color 9999s ease-in-out 0s;
    transition:  background-color 9999s ease-in-out 0s;
    background-color: rgba(0, 0, 0, 0) !important;
    -webkit-box-shadow: none !important;
    -webkit-text-fill-color: var(--textColor) !important;
    caret-color: var(--textColor) !important
}

.InputText_inputBox__galgQ input[type = "search"]::-webkit-search-cancel-button {
    display: none
}

.InputText_inputBox__galgQ > :not(input):not(.InputText_inputIconBox__psyID) {
    pointer-events: none;
    z-index: 1
}

.InputText_inputBox__galgQ .InputText_leftBorderBox__EGjD9 .InputText_leftBorder__L23d6 {  
    border-right: 0px;
    left: 0px;
    border-bottom-color: rgba(0, 0, 0, 0)
}

.InputText_inputBox__galgQ .InputText_rightBorderBox__Te3Kt .InputText_rightBorder__d62Nc {  
    border-left: 0px;
    right: 0px;
    border-bottom-color: rgba(0, 0, 0, 0);
}

.InputText_inputBox__galgQ .InputText_bottomBorderBox__tXbgb .InputText_bottomBorder__RVEh_ {  
    border-top: 0px;
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    width: unset;
    right: 0px;
    left: 0px
}

.InputText_inputBox__galgQ .InputText_borderBox__NrY1l {
    height: 100%;
    position: absolute;
    top: 0px;
    overflow: hidden
}

.InputText_inputBox__galgQ .InputText_bottomBorderBox__tXbgb {
    right: 0px;
    left: 0px
}

.InputText_inputBox__galgQ .InputText_rightBorderBox__Te3Kt {
    right: 0px;
    --rightBorderBoxWidth: calc(100% - var(--inputBorderBoxLeft));
    width: var(--rightBorderBoxWidth);
    transition: width 0.1s ease-out
}

.InputText_inputBox__galgQ .InputText_leftBorderBox__EGjD9 {
    left: 0px;
    width: var(--inputBorderBoxLeft);
    transition: width 0.1s ease-out
}

.InputText_inputBox__galgQ:has(input:focus, input[inputempty = "false"]) .InputText_rightBorderBox__Te3Kt {
    width: calc(var(--rightBorderBoxWidth) - var(--inputBorderRightSpace))
}

.InputText_inputBox__galgQ:has(input:focus, input[inputempty = "false"]) .InputText_leftBorderBox__EGjD9 {
    width: calc(var(--inputBorderBoxLeft) - var(--inputBorderBoxLeftSpace))
}

.InputText_inputBox__galgQ .InputText_borderBox__NrY1l > div {
    position: absolute;
    width: calc(100% + 10px);
    height: 100%;
    top: 0px;
    box-sizing: border-box;
    border: var(--inputBorderWidth) solid var(--inputBorderColor);
    opacity: var(--inputOpacity);
    border-radius: var(--inputBorderRadius)
}

.InputText_inputBox__galgQ input, .InputText_inputBox__galgQ .InputText_borderBox__NrY1l > div {
    transition: border-color 70ms linear 0s, border-width 70ms linear 0s
}

.InputText_inputBox__galgQ:has(input:focus, input[inputempty = "false"])::after {
    top: -7px;
    transform: var(--inputTransform)
}

.InputText_inputBox__galgQ:hover {
    --inputOpacity: 0.7
}

.InputText_inputBox__galgQ.InputText_focusMainColor__npmaf:has(input:focus) {
    --labelColor: var(--main-color) !important;
    --inputBorderColor: var(--main-color) !important
}

.InputText_inputBox__galgQ:has(input:focus) {
    --inputBorderWidth: var(--focusInputBorderWidth);
    --inputOpacity: 1
}

.InputText_inputBox__galgQ .InputText_inputIconBox__psyID {
    position: absolute;
    right: 0px;
    padding-right: 3px
}

.InputText_error__IthxN {
    display: none;
    color: var(--error-color);
    font-size: 12px;
    margin-top: 5px
}

.InputText_inputTextCont__2nWIN:has(input[error = "true"]) .InputText_error__IthxN {
    display: block
}

.InputText_inputBox__galgQ:has(input[error = "true"]) {
    --labelColor: var(--error-color) !important;
    --inputBorderColor: var(--error-color) !important
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/components/Search/index.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************/
.Search_searchInputTextBox__Ecx3j {
    width: 200px
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/components/MenuComponent/index.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************/
.MenuComponent_menuItemBox__kA0Ah {
    display: flex;
    align-items: center;
    justify-content: center
}

.MenuComponent_menuItemBox__kA0Ah > :not(:first-child) {
    margin-left: 13px
}
/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/layoutIndex.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/
.layoutIndex_body__7CtQn {
    --app-padding-x: 100px;
    --main-color: #1976d2;
    --error-color: #dc004e;
    height: 100%;
    padding: 0px
}

.layoutIndex_html__1iLwd {
    height: 100%
}

.layoutIndex_bodyCont__VGDZS {
    padding: 15px var(--app-padding-x)
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/components/LoadingCont/index.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************/
.LoadingCont_LoadingCont__hm7de {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 2000;
    display: none
}

.LoadingCont_loadingBarBox__a0JvZ {
    height: 8px;
    position: absolute;
    overflow: hidden;
    background-color: rgb(235 241 251);
    width: 60%;
    top: 30%;
    left: 20%
}

.LoadingCont_loadingBarBox__a0JvZ > div {
    position: absolute;
    left: 0%;
    top: 0px;
    height: 100%;
    width: 60%;
    background-color: var(--main-color)
}

.LoadingCont_loadingBarBox__a0JvZ > .LoadingCont_first__TyFqv {
    animation: LoadingCont_loading-left__r5LIy 2100ms linear 0ms infinite forwards
}

.LoadingCont_loadingBarBox__a0JvZ > .LoadingCont_second__53Z_w {
    left: -60%;
    animation: LoadingCont_loading-left__r5LIy 2100ms linear 1000ms infinite forwards
}

@keyframes LoadingCont_loading-left__r5LIy {
    0% {
        left: -60%
    }

    75% {
        left: 100%
    }

    100% {
        left: 100%
    }
}
