.logoCont {
    --def-height: 50px;
    height: var(--def-height);
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.logo {
    height: var(--def-height);
    width: auto;
    object-fit: contain;
}

.click {
    cursor: pointer
}

@media (max-width: 768px) {
    .logoCont {
        --def-height: 42px;
    }
}

@media (max-width: 480px) {
    .logoCont {
        --def-height: 36px;
    }
}

@media (max-width: 360px) {
    .logoCont {
        --def-height: 32px;
    }
}

@media (max-width: 280px) {
    .logoCont {
        --def-height: 28px;
    }
}

@media (max-width: 250px) {
    .logoCont {
        --def-height: 24px;
    }
}